{{- $context := .Context -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>

    <div class="tagCloud-tags">
        {{ range $context.Params.tags }}
            {{ $tagPage := $context.Site.GetPage (printf "/tags/%s" (. | urlize)) }}
            <a href="{{ $tagPage.RelPermalink }}" class="tag-item">
                {{ . }}
            </a>
        {{ end }}
    </div>
</section>