{{- with .Site.Params.comments.cactus -}}
<!-- {{- partial "helper/external" (dict "Context" $ "Namespace" "Cactus") -}} -->
<link rel="stylesheet" href="/cactus/style.css">
<script src="/cactus/cactus.js"></script>

<div id="comment-section"></div>
<script>
    initComments({
        node: document.getElementById("comment-section"),
        defaultHomeserverUrl: "{{ .defaultHomeserverUrl | safeJS }}",
        serverName: "{{ .serverName }}",
        siteName: "{{ .siteName }}",
        commentSectionId: "{{ $.Permalink | sha1 }}"
    })
</script>
{{- end -}}
